In [30]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [31]:
from src import spotify

In [32]:
token = spotify.get_token()

## Select Tracks

In [39]:
sel_tracks = spotify.search_tracks(token)

sel_tracks.head()

계속하시려면 next, 종료는 exit를 입력해주세요.exit

,id,name,artists,artists id
0,2FWquqPNxte8iqZ3ATQG0p,All I Wanna Do (K) (Feat. Hoody & Loco),Jay Park,4XDi67ZENZcbfKnvMnTYsI
1,4as4XEOR03oGm1STUKl6pa,BBIBBI,IU,3HqSLMAZ3g3d5poNaI7GOU
2,049M1ZP4H2B13yB2ax6N7l,그대라는 시,TAEYEON,3qNVuliS40BLgXGxhdBdqu
3,3mNbGPCLCxia3yvwWp2P51,It Takes Time,Loco,2e4G04F77jxVuDYo44TCSm

## get genres

In [57]:
artists_uri = "https://api.spotify.com/v1/artists"

ids = ""
for artist_id in sel_tracks['artists id']:
    split_data = artist_id.split(",")
    
    for _ in split_data:
        ids += "{},".format(_)

ids = ids[:-1]
ids

'4XDi67ZENZcbfKnvMnTYsI,3HqSLMAZ3g3d5poNaI7GOU,3qNVuliS40BLgXGxhdBdqu,2e4G04F77jxVuDYo44TCSm'

In [69]:
query = urlencode({
            "ids": ids
        })
headers = {
    "authorization": "Bearer {}".format(token['access_token'])
}

res = req.get("{}?{}".format(artists_uri, query), headers=headers)

In [71]:
result = res.json()

In [93]:
artists = result['artists']
genres = pd.DataFrame(columns=['count'])

for artist in artists:
    _genres = artist['genres']
    
    for genre in _genres:
        if genre in genres.index:
            genres.loc[genre]['count'] += 1
        else:
            genres.loc[genre] = 1

           count
k-pop          4
k-rap          2
korean r&b     2

True